
.App {
  height: 100vh
}
.setting-container {
  display: flex;
  justify-content: center;
  justify-content: center;

  top: 400px;
}
.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}
