* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: sans-serif;
  /* background-color: rgb(49, 54, 49); */
    background-image: url("https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80");
}



.book {
  position: relative;
  width: 350px;
  height: 500px;
  transition: transform 0.5s;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;

}

.front,
.back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid powderblue;
}

.back {
  z-index: 0;
}
.add {
  background-color: black;

}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: #636363;
}

i {
  font-size: 50px;
  color: gray;
}

.pt {

font-size: 13pt;

}
.cm {

font-size: 12pt;

}

 .card-item {
	width: 90%;
	font-size:28upx;
	word-break: break-word;
  }


  .headerMenuEntryImg {
    height: 200px;
    width: 275px;
    background-size: 100%;
    background-repeat:no-repeat;
    /* background-position: center; */
    top: 50%;
    /* border:1px solid red; */

    margin:30px;

    text-align:center;
  }
    .coverImg{
    height: 500px;
    width: 350px;
    background-size: 100%;
    background-repeat:no-repeat;
    /* background-position: center; */
    top: 50%;
    /* border:1px solid red; */

    /* margin:35px; */

    text-align:center;
  }

.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
	/* font-size:28upx; */
	/* word-break: break-word;
   */
  width: 320px;
  height: 200px;
  margin:10px;

  text-align:center;
  word-wrap: break-word;
  table-layout: fixed;
	word-wrap: break-all;
	word-break: normal;

  overflow: hidden;
}



.btn {
  display: inline-block;
  margin: 10px 30px 0;
  padding: 0.3em 1.1em;
  font-size: 15px;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #FE4365;
  border-radius: 3px;
  box-shadow: 0 0 0 -2px #CFF09E, 0 0 0 -1px #FE4365;
  border: none;
  transition: box-shadow 0.3s;
}
.btn:hover, .btn:focus {
  box-shadow: 0 0 0 2px #CFF09E, 0 0 0 4px #ff0464;
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
  animation: gelatine 0.5s 1;
}

.btn-secondary {
  background: #C8C8A9;
  box-shadow: 0 0 0 -2px #CFF09E, 0 0 0 -1px #C8C8A9;
}
.btn-secondary:hover {
  box-shadow: 0 0 0 2px #CFF09E, 0 0 0 4px #bebe99;
}

.btn:active,
.btn-secondary:active {
  background: #4ECDC4;
  transition-duration: 0;
  box-shadow: 0 0 0 2px #CFF09E, 0 0 0 4px #3ac7bd;
}


.gradient {
  /* Fallback: Set a background color. */
  background-color: #CA4246;

  /* Create the gradient. */
   background-image: linear-gradient(
        45deg,
        #CA4246 16.666%,
        #E16541 16.666%,
        #E16541 33.333%,
        #F18F43 33.333%,
        #F18F43 50%,
        #8B9862 50%,
        #8B9862 66.666%,
        #476098 66.666%,
        #476098 83.333%,
        #A7489B 83.333%);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}



/* Paper stack order */
/*#p1 {*/
/*  z-index: 3;*/
/*}*/

/*#p2 {*/
/*  z-index: 2;*/
/*}*/

/*#p3 {*/
/*  z-index: 1;*/
/*}*/


.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%,
    #E16541 16.666%,
    #E16541 33.333%,
    #F18F43 33.333%,
    #F18F43 50%,
    #8B9862 50%,
    #8B9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #A7489B 83.333%);

  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}


.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: italic;


}
h3 {
  font-size: 40px;
  background: #1ca129;
  background: -moz-linear-gradient(150deg, #cdb380 0%, #036564 16%, #033649 44%, #031634 84%);
  background: -webkit-linear-gradient(150deg, #cdb380 0%, #036564 16%, #033649 44%, #031634 84%);
  background: linear-gradient(150deg, #cdb380 0%, #036564 16%, #033649 44%, #031634 84%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdb380",endColorstr="#031634",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:20px;

  font-family: "Archivo Black", sans-serif;
    text-shadow: 1.5px 1.5px;

    /* font-family: "Trattatello", cursive; */

      margin-bottom: -0.25em;




}

.made {
  color: #cbd487;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 20px;
}
.made h1 {
  font-family: "titillium web";
  font-size: 1rem;
  font-weight: 200;
}


.gradient-text {
  font-size: 120px;
  background: #cdb380;
  background: -moz-linear-gradient(150deg, #cdb380 0%, #036564 16%, #033649 44%, #031634 84%);
  background: -webkit-linear-gradient(150deg, #cdb380 0%, #036564 16%, #033649 44%, #031634 84%);
  background: linear-gradient(150deg, #cdb380 0%, #036564 16%, #033649 44%, #031634 84%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdb380",endColorstr="#031634",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:-10px;

  font-family: "Archivo Black", sans-serif;
    /* font-family: "Trattatello", cursive; */

      margin-bottom: 0.25em;


  /* Fallback: Set a background color. */
  background-color: #f3eaeb;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #dcd5d5 16.666%,
    #f0edeb 16.666%,
    #3b3432 33.333%,
    #e6e4e1 33.333%,
    #ccc8c5 50%,
    #2b3216 50%,
    #d2cdcb 66.666%,
    #e4e6eb 66.666%,
    #dcdee4 83.333%,
    #b6b1b5f9 83.333%
  );

  text-align:center;


  /* font-family: "Snell Roundhand", cursive; */


}
h5{
  color: rgba(37, 37, 99, 0.834);
  box-shadow: #3fc5c3;
  text-shadow: 1px 0.5px;
  font-size: 16px;

}


.wrapper{
    /* width:440px;
    height:70px; */
    /* position: absolute;
    left:12.5%;
    top:50%; */
      /* margin-right: 0.25em; */
    /* transform: translate(%, -20%); */
    /* text-align:center;
     */
         /* vertical-align: middle; */

/* display:flex;
flex-direction: row;
justify-content: space-around; */

display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-pack: center;
-webkit-box-align: center;

}
.wrapper span{
    font-size: 50px;
    font-weight: bold;
    color: #4b4b4b;
    animation: lighting 1000ms alternate infinite ease;
}
@keyframes lighting{
    0%,85%{
        color: #1d0808;
        text-shadow: none;
    }
    100%{
        color:#891616;
        text-shadow: 0 0 5px #fff200, 0 0 3px #ff9f1a;
    }
}
.wrapper span:nth-child(1){
    animation-delay: 150ms;
}
.wrapper span:nth-child(2){
    animation-delay: 300ms;
}
.wrapper span:nth-child(3){
    animation-delay: 450ms;
}
.wrapper span:nth-child(4){
    animation-delay: 600ms;
}
.wrapper span:nth-child(5){
    animation-delay: 750ms;
}
.wrapper span:nth-child(6){
    animation-delay: 900ms;
    /* margin-left: 20px; */
}
.wrapper span:nth-child(7){
    animation-delay: 1050ms;
}
.wrapper span:nth-child(8){
    animation-delay: 1200ms;
}
.wrapper span:nth-child(9){
    animation-delay: 1350ms;

}
.wrapper span:nth-child(10){
    animation-delay: 1500ms;
    margin-left: 20px;

}
.wrapper span:nth-child(11){
    animation-delay: 1650ms;
}
.wrapper span:nth-child(12){
    animation-delay: 1800s;
}
.wrapper span:nth-child(13){
    animation-delay: 1950ms;
}
